doctype html
html.loading(lang='en')
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Продажа спецтехники оптом и в розницу
		link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet")
		link(href='./css/styles.css' rel='stylesheet')
		script(src="./libs/jquery-3.2.1.min.js")
		//- link(href='./css/media.css' rel='stylesheet')
		script(src="https://use.fontawesome.com/48ee0f2c73.js")
		//- script(type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js")
		//- script(src='./js/email.js')
	body
		.wrapper
			#header
				.container(style='width:1200px').clearfix
					.header.header-left
							.logo-wrapper.clearfix
								a.logo(href='http://www.atmc.kz')
									img.logo-img(src='img/logo.png')
							h2.logo-title ТОО "Almaty Trade & Management Consulting"
					.header.header-center
						ul.nav-menu
							.nav-menu-item
								a.nav-link(href='#header') Главная
							.nav-menu-item
								a.nav-link(href='#company') О компании
							.nav-menu-item
								a.nav-link(href='#machinery') Спецтехника
							.nav-menu-item
								a.nav-link(href='#contacts') Контакты
					.header.header-right
						.phone-number
							i.fa.fa-lg.fa-phone
							span Позвоните нам
							.phone-number-drop
								.phome-number-item +7 (777) 801-83-83
								.phone-number-item +7 (727) 383-18-46
			.header.header-sticky
			.page-banner
				.overlay
				.overlay.overlay-top
				.page-banner-inner
					.container
						h1.banner-title Продажа и аренда спецтехники
						div.order-button Оставьте заявку
						.price-container
							.price-download
								i.fa.fa-download
								a.price-button Прайс-лист
				a.arrow-down.nav-link(href='#company')
					i.fa.fa-angle-down
			.content
				.section.section-comnpany#company
					.container
						h3.section-title О компании
						.section-content.about-us
							.row
								.section-col.section-col-2.company-info(style='width:40%')
									.company-info-container
										h3.company-info-title ATM consulting
										p.company-info-text2 Наша компания предлагает своим клиентам только высококачественную, надежную и многофункциональную спецтехнику широкого профиля. Наши клиенты знают, что такое доверие и надежный поставщик уже не первый год.
								.section-col.section-col-2.company-info(style='width:60%')
									.section-col-bgimg(style='background-image:url(img/banner3.jpg)')
									.section-col-overlay
										p.company-info-text(style='font-size:20px;margin-bottom:15px') Что мы предлагаем вам
										p.company-info-text Занимаясь поставкой спецтехники в Казахстан и страны СНГ уже не первый год, мы выработали своеобразный принцип работы с нашими клиентами, который обеспечивает 100% эффективный отклик даже в крупных корпораций. У нас заказывать всегда легко, быстро и удобно. Для Вас мы не просто рядовой поставщик, а компания которая обеспечивает:​
										p.company-info-text - Надежную поставку любой спецтехники;​
										p.company-info-text - Полезное сотрудничество с постоянными явными выгодами;​
										p.company-info-text - Постоянную поддержку и обратную связь;​
										p.company-info-text - Длительное и беспрерывное обслуживание.
				.section.section-products#machinery
					.container
						.section-content.section-content-products
							h3.section-title Спецтехника
							.row
								.col-7.product-box
									.product-icon-wrapper
										img.product-icon(src='icons/betonovoz.png')
									.product-name-wrapper
										span.product-name Бетоновоз
									.product-container.active(style='display:block')
											.product-container-img
												img.product-img(src='img/concretetruck.jpg')
											.product-container-info
												h3.product-info-title Бетоновоз
												p.product-info-text Бетоновоз представляет собой машину, предназначенную для транспортировки бетонов либо цемента, которые используются на всевозможных воздвигающихся объектах. Конструкция бетоновоза создана с учетом особенностей транспортируемого груза (тяжеловесность бетона, обусловленную такими весьма тяжелыми составляющими, как цемент и песок). Данная машина обладает высокой грузоподъемностью, а также усиленной подвеской.
								.col-7.product-box
									.product-icon-wrapper
										img.product-icon(src='icons/traktor.png')
									.product-name-wrapper
										span.product-name Трактор
									.product-container
										.product-container-img
											img.product-img(src='img/tractor.jpg')
										.product-container-info
											h3.product-info-title Трактор
											p.product-info-text Трактор, четырехколесная или гусеничная машина, передвигающая и приводящая в действие тяжелую технику. Применяются в основном в сельском хозяйстве и строительстве. Современные тракторы имеют бензиновые или дизельные двигатели и могут управлять разнообразной техникой - сенокосилками, передвижными прессами, опрыскивателями и т.д. Некоторые тракторы работают без водителя - их действиями управляет компьютер, используя разновидность ГЛОБАЛЬНОЙ СИСТЕМЫ НАВИГАЦИИ (ГСН) для определения местонахождения трактора.
								.col-7.product-box
									.product-icon-wrapper
										img.product-icon(src='icons/samosval.png')
									.product-name-wrapper
										span.product-name Самосвал
									.product-container
										.product-container-img
											img.product-img(src='img/tipper.jpg')
										.product-container-info
											h3.product-info-title Самосвал
											p.product-info-text Самосва́л — грузовой саморазгружающийся автомобиль, прицеп или полуприцеп с кузовом, механически наклоняемым для выгрузки груза или с принудительной разгрузкой (например, шнеком). Самосвалы применяются для перевозки навалочных, или сыпучих, или иных грузов, пригодных для такой выгрузки, которая производится посредством их опрокидывания из кузова.
								.col-7.product-box
									.product-icon-wrapper
										img.product-icon(src='icons/avtokran.png')
									.product-name-wrapper
										span.product-name Автокран
									.product-container
										.product-container-img
											img.product-img(src='img/carcrane.jpg')
										.product-container-info
											h3.product-info-title Автокран
											p.product-info-text Автомобильный кран, это кран стрелового типа. Такая разновидность, спец техники, может быть оснащена башенно-стреловым оборудованием. Таким образом он может перемещаться с грузом или без груза. Этому способствует, непосредственно стрела и сила тяжести. Благодаря которой, ему не требуется специальные пути и особая устойчивость. Автокран, является самым распространенным транспортным средством, которые входят в группу стреловых самоходных кранов.
								.col-7.product-box
									.product-icon-wrapper
										img.product-icon(src='icons/katok.png')
									.product-name-wrapper
										span.product-name Каток
									.product-container
										.product-container-img
											img.product-img(src='img/roadroller.jpg')
										.product-container-info
											h3.product-info-title Каток
											p.product-info-text Като́к — машина, предназначенная для послойного уплотнения несвязных и малосвязных грунтов и оснований при постройке насыпей, дамб, дорожных оснований и других земляных сооружений на строительстве автомобильных дорог, аэродромов, гидротехнических сооружений. Рабочим органом катка являются колеса и/или валец  — цилиндр, расположенный вместо колеса или колёс. Своей массой каток сдавливает уплотняемое вещество.
								.col-7.product-box
									.product-icon-wrapper
										img.product-icon(src='icons/avtovoz.png')
									.product-name-wrapper
										span.product-name Автовоз
									.product-container
										.product-container-img
											img.product-img(src='img/cartrailer.jpg')
										.product-container-info
											h3.product-info-title Автовоз
											p.product-info-text Автомобилевоз или автовоз это специальное транспортное средство, предназначенное для перевозки автомобилей. Автовоз состоит из тягача и специального прицепа или полуприцепа. В народе автовозы еще по-простому называют «возы» с ударением на второй слог. Стандартный автовоз рассчитан на перевозку 7-8 автомобилей класса «В». Все автовозы стоит разделить на две большие группы, отечественные и импортные.
								.col-7.product-box
									.product-icon-wrapper
										img.product-icon(src='icons/eskavator.png')
									.product-name-wrapper
										span.product-name Экскаватор
									.product-container
										.product-container-img
											img.product-img(src='img/excavator.jpg')
										.product-container-info
											h3.product-info-title Экскаватор
											p.product-info-text Экскава́тор — основной тип землеройных машин, оснащённых ковшом. Основным назначением является разработка грунтов (горных пород, полезных ископаемых) и погрузка сыпучих материалов. Главным отличием одноковшового экскаватора от других землеройных машин является то, что экскавация (выемка) грунта производится подвижным рабочим органом при неподвижном шасси. Поворот ковша на разгрузку также производится при стоящей машине.
				.section.section-benefits
					.container
						h3.section-title Почему мы
						.section-content
							p.content-text Гибкие условия сотрудничества, демократичная цена и качественный сервис - только малая часть всех выгод, которые Вы получите от партнерства с нашей компанией. С нами Вы обретете уверенность в том, что наша техника прослужит​ вам долго и качественно.
							.row.clearfix
								.col-3.benefit-block-item
									.benefit-container
										img.icon-benefit(src='icons/assortment.svg')
										h4.benefit-title Большой ассортимент
										p.benefit-text Огромный ассортимент продукции
								.col-3.benefit-block-item
									.benefit-container
										img.icon-benefit(src='icons/garanty.svg')
										h4.benefit-title Гарантия качества
										p.benefit-text Гарантии качества товара
								.col-3.benefit-block-item
									.benefit-container
										img.icon-benefit(src='icons/payment.svg')
										h4.benefit-title Способы оплаты
										p.benefit-text Наиболее удобные для Вас способы оплаты
							.row.clearfix
								.col-3.benefit-block-item
									.benefit-container
										img.icon-benefit(src='icons/service.svg')
										h4.benefit-title Обслуживание
										p.benefit-text Длительное сервисное обслуживание
								.col-3.benefit-block-item
									.benefit-container
										img.icon-benefit(src='icons/suppliers.svg')
										h4.benefit-title Крупные поставщики
										p.benefit-text Несколько поставщиков из Китая
								.col-3.benefit-block-item
									.benefit-container
										img.icon-benefit(src='icons/shipping.svg')
										h4.benefit-title Транспортировка
										p.benefit-text Доставку спецтехники в любой регион СНГ
				.section.section-form#contacts
					.container
						.section-content.section-content-form
							h3.section-title Контакты
							.row.clearfix
								.col-2-30
									.contact-form
										h4.contact-form-title Вы можете связаться с нами:
										.contact-form-container
											.contact-form-phonenumber
												i.fa.fa-lg.fa-phone
												span.phone +7 (777) 801-83-83
											.contact-form-email
												i.fa.fa-lg.fa-envelope-o
												span.email ts-machinery@mail.ru
								.col-2-30
									.submit-form
										h4.submit-form-title Оставьте заявку
										.form
											.form-field
												label.form-label(for='name') Имя:
												input.form-input(type='text', name='name')
											.form-field
												label.form-label(for='phone') Телефон:
												input.form-input(type='text', name='phone')
											.form-field
												label.form-label(for='email') Эл.адрес:
												input.form-input(type='text', name='email')
											.form-field
												label.form-label(for='text') Сообщение:
												textarea.form-input(name='text')
											.form-field
												span.submit-button.enabled Отправить
											.form-message
			.footer
				.container
					.row.clearfix
						.col-4
							.col-footer-item.row.clearfix
								.icon-wrapper
									i.fa.fa-lg.fa-phone-square
								.info-wrapper
									span +7 (777) 801-83-83
									br
									span +7 (727) 383-18-46
						.col-4
							.col-footer-item
								i.fa.fa-lg.fa-map-marker
								span 05000, Казахстан, г. Алматы
						.col-4
							.col-footer-item
								i.fa.fa-lg.fa-envelope
								span ts_machinery@mail.ru
						.col-4
							.col-footer-item
								i.fa.fa-lg.fa-clock-o
								span Пн-Пт с 9:00/18:00
		.overlay-wrapper
			.popup-form-wrapper
				h4.popup-form-title
				.form.popup-form
					.form-field
						label.form-label(for='name') Имя:
						input.form-input(type='text', name='name')
					.form-field
						label.form-label(for='phone') Телефон:
						input.form-input(type='text', name='phone')
		script(src="./js/slider.js")