doctype html
html.loading(lang='en')
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Продажа спецтехники оптом и в розницу
		link(href="https://fonts.googleapis.com/css?family=Play:400,700&amp;subset=cyrillic" rel="stylesheet")
		link(href='./css/styles.css' rel='stylesheet')
		//- link(href='./css/media.css' rel='stylesheet')
		script(src="https://use.fontawesome.com/48ee0f2c73.js")
		//- script(type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js")
		//- script(src='./js/email.js')
	body
		.wrapper
			#header
				.container
					.header.header-left
						a.logo(href='http://www.atmc.kz')
							img.logo-img(src='img/logo.png')
					.header.header-center
						ul.nav-menu
							.nav-menu-item
								a(href='') Главная
							.nav-menu-item
								a(href='') О компании
							.nav-menu-item
								a(href='') Спецтехника
							.nav-menu-item
								a(href='') Контакты
					.header.header-right
						.phone-number
							i.fa.fa-lg.fa-phone
							span Позвоните нам
							.phone-number-drop
								.phome-number-item 8 (701) 170 21 32
								.phome-number-item 8 (702) 194 23 24
			.header.header-sticky
			.page-banner
				.overlay
				.overlay.overlay-top
				.page-banner-inner
					.container
						h1.banner-title Спецтехника оптом и в розницу
						div.order-button Оставьте заявку
						.price-download
							i.fa.fa-download
							a.price-button Прайс-лист
				a.arrow-down
					i.fa.fa-angle-down
			.content
				.section.section-comnpany
					.container
						h3.section-title О компании
						.section-content
							.section-row.clearfix
								.section-col.section-col-2.company-info
									.company-info-text Наша компания предлагает своим клиентам только высококачественную, надежную и многофункциональную спецтехнику широкого профиля. Наши клиенты знают, что такое доверие и надежный поставщик уже не первый год.
								.section-col.section-col-2.company-info
									.section-col-bgimg(style='background-image:url(img/banner3.jpg)')
				.section.section-benefits(style='background:white')
					.container
						h3.section-title Почему мы
						.section-content
							p.content-text Гибкие условия сотрудничества, демократичная цена и качественный сервис - только малая часть всех выгод, которые Вы получите от партнерства с нашей компанией. С нами Вы обретете уверенность в том, что наша техника прослужит​ вам долго и качественно.
							.row.clearfix
								.col-3.benefit-block-item
									.benefit-container
										img.icon-benefit(src='icons/ассортимент.png')
										h4.benefit-title Большой ассортимент
										p.benefit-text
								.col-3.benefit-block-item
									.benefit-container
										img.icon-benefit(src='icons/гарантия.png')
										h4.benefit-title Гарантия качества
										p.benefit-text
								.col-3.benefit-block-item
									.benefit-container
										img.icon-benefit(src='icons/оплата.png')
										h4.benefit-title Способы оплаты
										p.benefit-text
							.row.clearfix
								.col-3.benefit-block-item
									.benefit-container
										img.icon-benefit(src='icons/поддержка.png')
										h4.benefit-title Обслуживание
										p.benefit-text
								.col-3.benefit-block-item
									.benefit-container
										img.icon-benefit(src='icons/поставщик.png')
										h4.benefit-title Крупные поставщики
										p.benefit-text
								.col-3.benefit-block-item
									.benefit-container
										img.icon-benefit(src='icons/логистика.png')
										h4.benefit-title Транспортировка
										p.benefit-text
				.section.section-brands
					.container
						.section-content
							h3.section-title Спецтехника
							.section-row.clearfix(style='height:160px;line-height:160px;background:#fff;box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.1)')
								.section-col.section-col-4
									.section-col-img-container
										img.section-col-img(src='img/shacman.png')
									.brand-link-container
										a.brand-link Подробнее
								.section-col.section-col-4
									.section-col-img-container
										img.section-col-img(src='img/howo.png', style='height:80px;width:100px')
									.brand-link-container
										a.brand-link Подробнее
								.section-col.section-col-4
									.section-col-img-container
										img.section-col-img(src='img/faw.png' style='height:80px;width:100px')
									.brand-link-container
										a.brand-link Подробнее
								.section-col.section-col-4.col-last
									.section-col-img-container
										img.section-col-img(src='img/xcmg.png')
									.brand-link-container
										a.brand-link Подробнее
				.section.section-products
					.container
						.section-content.section-content-products
							h3.section-title Мы предлагаем
							.section-row.clearfix
								.section-col.section-col-7
									span.product-name Трактор
									.product-container
										.product-container-img
										.produtct-container-info
								.section-col.section-col-7
									span.product-name Автовоз
									.product-container
										img.product-container-img(src='img/автовоз.jpg')
										.product-container-info
											h3.product-info-title Автовоз
											p.product-info-text Автомобилевоз или автовоз это специальное транспортное средство, предназначенное для перевозки автомобилей. Автовоз состоит из тягача и специального прицепа или полуприцепа. В народе автовозы еще по-простому называют «возы» с ударением на второй слог. Стандартный автовоз рассчитан на перевозку 7-8 автомобилей класса «В». Все автовозы стоит разделить на две большие группы, отечественные и импортные.
								.section-col.section-col-7
									span.product-name Автоподъемник
									.product-container
										.product-container-img
										.produtct-container-info
								.section-col.section-col-7
									span.product-name Каток
									.product-container
										.product-container-img
										.produtct-container-info
								.section-col.section-col-7
									span.product-name Автокран
									.product-container
										.product-container-img
										.produtct-container-info
								.section-col.section-col-7
									span.product-name Самосвал
									.product-container
										.product-container-img
										.produtct-container-info
								.section-col.section-col-7
									span.product-name Бетоновоз
									.product-container(style='display:block')
										.product-container-inner.row.clearfix
											.product-container-img.col-2-30(style='margin-right:30px')
												img.product-img(src='img/бетоновоз1.jpg')
												img.product-img(src='img/бетоновоз2.jpg' style='margin-top:30px')
											.product-container-info.col-2-30
												h3.product-info-title Бетоновоз
												p.product-info-text Автомобилевоз или автовоз это специальное транспортное средство, предназначенное для перевозки автомобилей. Автовоз состоит из тягача и специального прицепа или полуприцепа. В народе автовозы еще по-простому называют «возы» с ударением на второй слог. Стандартный автовоз рассчитан на перевозку 7-8 автомобилей класса «В». Все автовозы стоит разделить на две большие группы, отечественные и импортные.

			.footer
